<div class="container mt-4">
<form method="POST" action="/movies/{{movie._id}}?_method=PUT">
    <h1>Update Movie</h1>
  <div class="form-group">
    <label for="name">Name Movies</label>
    <input type="text" class="form-control" value="{{movie.name}}" id="name" name="name">
  </div>
    <div class="form-group">
    <label for="description">Description Movies</label>
    <textarea class="form-control" id="description" name="description">{{movie.description}}</textarea>
  </div>
    <div class="form-group">
    <label for="image">Image ID</label>
    <input type="text" class="form-control" value="{{movie.imageID}}" id="image" name="imageID">
  </div>
    <div class="form-group">
    <label for="title">Title Movies</label>
    <input type="text" class="form-control" value="{{movie.title}}" id="title" name="title">
  </div>
    
  <button type="submit" class="btn btn-success">Update</button>
</form>

</div>