<form method="POST" action="/movies/handle-form" name="container-form" class="container mt4">
    <div class="container mt-4 mb-2">
      <a href="/movies/create" class="btn btn-primary">Them Phim</a>
      {{#if countDeleted}}
      <a href="/me/stored/trash" class="btn btn-secondary">Thung rac {{countDeleted}}</a>
      {{/if}}


    {{!-- check ALL --}}
      <div class="mt-4 mb-4 d-flex align-items-center">
        <div class="check">
          <input type="checkbox" id="checkAll">  
          <label for="checkAll">Chon tat ca</label>
        </div>
        <select class="form-control form-control-sm div-select-option" name="selectAction" required>
          <option value="">-- Select Action --</option>
          <option value="delete">Delete</option>
        </select>
        <button class="btn btn-sm btn-primary btnSelected" disabled="disabled">Selected</button>
      </div>
    </div>

    {{!-- table  --}}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">STT</th>
                <th scope="col">name</th>
                <th scope="col">title</th>
                <th scope="col">createAt</th>
                <th scope="col">handle</th>
            </tr>
        </thead>
        <tbody>
            {{#each movies}}
            <tr>
                <th>
                  <input type="checkbox" name="checkMovies[]" value="{{this._id}}">
                </th>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.title}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a class="btn btn-warning" href="/movies/{{this._id}}/edit">Sua</a>
                    <a class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" data-id={{this._id}}>Xoa</a>
                </td>
            </tr>
            {{else}}
            <tr>
              <td colspan="5" class="text-center">
                Ban chua co du lieu.<a href="/movies/create">Dang Khoa Hoc</a>
              </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</form>


<form name="deleteForm" method="POST"></form>

{{!-- confirm Delete --}}
<div class="modal" tabindex="-1" id="deleteModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure delete movie??</p>
      </div>
      <div class="modal-footer">
        <button id="btnDelete" type="button" class="btn btn-danger">Delete</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


{{!-- handle Delete --}}
<script>
    document.addEventListener('DOMContentLoaded',function () {
        const btnDelete = document.getElementById('btnDelete')
        var formDelete = document.forms['deleteForm']
        var formContainer = $('form[name="container-form"]')
        var btnCheckAll = $("#checkAll")
        var movieItems = $('input[name="checkMovies[]"]')
        var btnSelected = $('.btnSelected')
        var movieID

        //when confirm clicked
        $('#deleteModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            movieID = button.data('id') 
        })

        //handle delete soft
        btnDelete.addEventListener('click',function () {
            formDelete.action = `/movies/${movieID}?_method=DELETE`
            formDelete.submit()
        })

        //handle check all
        btnCheckAll.change(function () {
            const isCheckedAll = $(this).prop('checked')
            movieItems.prop('checked', isCheckedAll)
            //if (isCheckedAll) {
               // movieItems.prop('checked', true) 
          //}
          renderBtnSelected()
        })

        // handle compare to movies and checkAll
        movieItems.change(function () {
          var isCheckedAll = movieItems.length === $('input[name="checkMovies[]"]:checked').length
          btnCheckAll.prop('checked', isCheckedAll)
          renderBtnSelected()
        })

      //handle submit form container
      //formContainer.on('submit', function (e) {
      //    const isSubmitted = !btnSelected.hasClass('disabled')
      //    if(!isSubmitted) {
      //      e.preventDefault()
      //    }else {
      //      formContainer.submit()
      //    }
      //} )

      //handle renderBtnSelected
      function renderBtnSelected () {
        const isChecked = $('input[name="checkMovies[]"]:checked').length
        if (isChecked) {
          btnSelected.attr('disabled',false)
        }else {
          btnSelected.attr('disabled',true)
        }
    }
})
</script>