<form action="/movies/handle-form" method="POST" name="container-form" class="container mt4">
    <div class="d-flex align-items-center mt-4">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="checkAll">
        <label class="form-check-label" for="checkAll">
          Chon Tat Ca
        </label>
      </div>
      <select class="custom-select custom-select-sm div-select-option" name="selectAction" required>
        <option value="">-- Select Action --</option>
        <option value="restore">Restore</option>
      </select>
      <button class="btn btn-primary btn-sm btnSelected" disabled>Submit</button>
    </div>
    <div class="container mt-4 mb-4">
      <a href="/me/stored/movies" class="btn btn-primary">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-2" width="20px" height="20px">
          <path stroke-linecap="round" stroke-linejoin="round" d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3" />
        </svg>
        Quay lai
      </a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">STT</th>
                <th scope="col">name</th>
                <th scope="col">title</th>
                <th scope="col">createAt</th>
                <th scope="col">handle</th>
            </tr>
        </thead>
        <tbody>
            {{#each movies}}
            <tr>  
                <td>
                  <input type="checkbox" name="checkMovies[]" value="{{this._id}}">
                </td>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.title}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a class="btn btn-warning btnRestore" href="" data-id={{this._id}}>Khoi Phuc</a>
                    <a class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" data-id={{this._id}}>Xoa Vinh Vien</a>
                </td>
            </tr>
            {{else}}
            <tr>
              <td colspan="5" class="text-center">
                Thang Rac Rong.<a href="/me/stored/movies">Quay lai</a>
              </td>
            </tr>
            {{/each}}
        </tbody>
    </table>

</form>

<form name="deleteForm" method="POST"></form>
<form name="restoreForm" method="POST"></form>

{{!-- confirm Delete --}}
<div class="modal" tabindex="-1" id="deleteModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure delete movie??</p>
      </div>
      <div class="modal-footer">
        <button id="btnDelete" type="button" class="btn btn-danger">Delete</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


{{!-- handle Delete --}}
<script>
    document.addEventListener('DOMContentLoaded',function () {
        const btnDelete = document.getElementById('btnDelete')
        //const btnRestore = document.querySelectorAll('.btnRestore')
        const btnCheckAll = $('#checkAll')
        const btnRestore = $('.btnRestore')
        const btnSelected = $('.btnSelected')
        const movieItems = $('input[name="checkMovies[]"]')
        var formDelete = document.forms['deleteForm']
        var formRestore = document.forms['restoreForm']
        const formContainer = $('form[name="container-form"]')
        var movieID

        //when confirm clicked
        $('#deleteModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            movieID = button.data('id') 
        })

        btnDelete.addEventListener('click',function () {
            formDelete.action = `/movies/${movieID}/force?_method=DELETE`
            formDelete.submit()
        })

        btnRestore.click(function (e) {
          e.preventDefault()

          var movieID = $(this).data('id')
          formRestore.action = `/movies/${movieID}/restore?_method=PATCH`
          formRestore.submit()
        })

        //handle CheckAll Click
        btnCheckAll.click(function () {
          const isChecked = $(this).prop('checked')
          movieItems.prop('checked', isChecked)
          renderBtnSelected()
        })
        //handle compare movieItems and CheckAll
        movieItems.click(function () {
          const isChecked = movieItems.length === $('input[name="checkMovies[]"]:checked').length
          btnCheckAll.prop('checked', isChecked)
          renderBtnSelected()
        })
        //handle re-render btnSelected disabled
        function renderBtnSelected(e) {
          const isChecked = $('input[name="checkMovies[]"]:checked').length
          if(!isChecked) {
            btnSelected.attr('disabled',true)
          }else {
            btnSelected.attr('disabled',false)
          }
        }
    })
</script>